.header__logo {
  width: 142px;
  height: 33px;
  background: url(../../../images/header-logo.svg) no-repeat;
  background-size: contain;
  display: block;
  transition: 0.3s;
}

.header__logo:hover {
  opacity: 0.5;
}

@media screen and (max-width: 640px) {
  .header__logo {
    width: 104px;
    height: 25px;
  }
}