.page {
  background: rgb(0 0 0);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}