.element__remove-button{
    width: 18px;
    height: 19px;
    border: none;
    cursor: pointer;
    background: url(../../../images/remove-card-button.svg);
    transition: 0.3s;
    position: absolute;
    top: 20px;
    right: 20px;
}

.element__remove-button:hover{
  opacity: 0.8;
}