.profile__activity {
  margin: 0;
  font-size: 18px;
  line-height: 35px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 640px) {
  .profile__activity {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}