.profile__text {
  max-width: 500px;
}

@media screen and (max-width: 928px) {
  .profile__text {
    max-width: 340px;
  }
}

@media screen and (max-width: 640px) {
  .profile__text {
    max-width: 220px;
  }
}