.popup__close-button {
  position: absolute;
  background: url(../../../images/close-popup-icon.svg);
  background-position: center;
  background-size: contain;
  background-color: rgb(0 0 0 / 0%);
  width: 30px;
  height: 30px;
  border: none;
  top: -32px;
  right: -32px;
  cursor: pointer;
  transition: 0.3s;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 640px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -30px;
    right: 0px;
  }
}