.header {
  border-bottom: 1px solid rgb(54 54 54 / 70%);
  margin: 0 auto;
  padding: 45px 0 41px;
  box-sizing: border-box;
}

@media screen and (max-width: 640px) {
  .header {
    justify-content: center;
    padding: 28px 27px 30px;
  }
}