.element__like-button{
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
  background: url(../../../images/like-button.svg);
  transition: 0.3s;
}

.element__like-button:hover{
  opacity: 0.5;
}